.expense-date{
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    border-radius: 12px;
    border-style: solid;
    border-color: #ececec;
    background-color: #2a2a2a;
    color: #ececec;
    align-items: center;
}

.expense-date__month{
    font-size: 1rem;
}

.expense-date__day{
    font-size: 2rem;
    font-weight: bold;
}

.expense-date__year{
    font-size: 1rem;
}