.expense-item{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 20px;
    background-color: #4b4b4b;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    flex-basis: content;
    height: 100px;
}

.expense-item h2{
    margin: 0 1rem;
    color: white;
    font-size: 1rem;
    flex: 1;
}

.expense-item__price{
    background-color: #40005d;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 12px;
    padding: 0.5rem;
    padding-left: 20px;
    font-size: 1rem;
    width: 100px;
    height: 50px;
    align-items: center;
}