.new-expense__controls{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense__control label{
    font-weight: bold;
    display: block;
    margin: 0.5rem;
}

.new-expense__control input{
    border-radius: 6px;
    width: 20rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    max-width: 100%;
}

.new-expense__action{
    text-align: right;
}